<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>wt_dc_send_interval_millis</key>
	<string>3000</string>
	<key>wt_dc_dcsid</key>
	<string>dcs222ttc4miazdxybrzt95tg_6f3z</string>
	<key>wt_dc_report_location_enabled</key>
	<string>true</string>
	<key>wt_dc_collection_url_base</key>
	<string>http://scs.webtrends.com/v2/</string>
	<key>wt_dc_automatics_enabled</key>
	<string>false</string>
	<key>wt_dc_auto_send_threshold_percent</key>
	<string>10</string>
	<key>wt_dc_event_table_size_maximum</key>
	<string>10</string>
</dict>
</plist>
